<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title><%=@appTitle%></title>
		<%= stylesheet_link_tag 'businessprofile' %>
	</head>
	<body>
		<% for profile in @profiles %>
			<% if profile.active %>
				<div class="listing">
					<h1><%=profile.title %></h1>
					Website: <a target="_blank" href="<%=@publicHost%>/<%=profile.url%>"><%=@publicHost%>/<%=profile.url%></a><br><br>
					<%=profile.short_description%><br><br>
				</div>
			<% end %>
		<%end%>
	</body>
</html>
